*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    
    background-color: aquamarine;
    padding: 30px 40px;
    margin: 40px auto; 
    border-radius: 10px;
    width: 30%;
}
label{
    padding: 5px;
    margin: 5px;

}
input{
    padding: 10px;
  
}
.form-name {
    padding: 20px;
    margin: 5px;

}
.form-button{
display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.form-button button{
    
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    background-color: blueviolet;
    color: whitesmoke;


}