*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
body{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(135deg, #f8fafc, #e0e7ff, #f5f3ff);
}
.content{
    font-size: 1.2rem;
    /* width: 0px; */
    padding: 10px;
    margin: 100px;
}
.content h2{
    font-size: 20px;
    margin: 5px;
     font-size: 42px;
     width: full;
     line-height: 1.2;
}
.content p {
    padding: 0;
    font-size: 18px;
    line-height: 1.8;
    color: #475569;
    margin-bottom: 20px;
}
.btn{
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 30px;
 cursor: pointer;
}
.btn button{
    padding: 10px;
    margin: 5px;
    
}
.btn a{
    text-decoration: none;
    color: black;
    
}

.image-content{
    margin: 150px;

}
.image-content img {
    width: 100%;
    display: block;
    transition: transform 0.4s ease;
    cursor: pointer;
}
.image-content img:hover {
    transform: scale(1.1);
}